.footer_container {
    @include dimension-general;
    padding: $space-large $space-medium $space-medium $space-medium;

    &__logo {
        font-family: 'Shrikhand';
        font-size: $font-medium;
        font-weight: $font-weight-regular;
        color: $colour-white;
    }


    &__links {
        padding-top: $space-medium;
        display: flex;
        flex-direction: column;
        gap: $space-small;

        li {
            display: flex;
            align-items: center;
            gap: $space-regular;
            

            .footer-icon {
                width: 15px;
                font-size: $font-small;
                color: $colour-white;
            }

            .footer-link {
                text-decoration: none;
                color: $colour-white;
                font-size: $font-small;
            }
        }
    }
}


    

   




