footer {
    background-color: $colour-dark-grey;
    color: $colour-white;
}

.footer_container {
    max-width: 1440px;
    margin: auto;
    padding: 2rem 2rem 1.5rem 2rem;
}

footer ul {
    padding-top: 1.5rem;
}

footer li {
padding-bottom: 0.75rem;
}

.fa-utensils {
    width: 20px;
    font-size: 0.875rem;
}

.fa-hands-helping {
    width: 20px;
    font-size: 0.875rem;
}

footer a {
    text-decoration: none;
    color: $colour-white;
}

