.container_header {
    @include current-size;
    position: relative;
    padding: $space-regular 0rem $space-small 0rem;
    text-align: center;

    &__home {
        font-family: $font-logo;
        font-size: $font-XXlarge;
        font-weight: $font-weight-regular;
        color: $colour-black;
        text-decoration: none;

        @include screen-xl {
            font-size: $font-XXXlarge;
        }
        
    }

    &__icon {
        position: absolute;
        left: 5%;
        top: 30%;
        font-size: $font-Xlarge;

        @include screen-xl {
            font-size: $font-XXlarge;
        }

        &__link {
            color: $colour-dark-grey;
            text-decoration: none;

            &:active, &:hover {
                color: $colour-middle-grey;
            }
        }
    }
}