header {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1.25rem 0rem 0.875rem 0rem;
    position: relative;
}

.logo {
    max-width: 50%;
    
}

.header-icone  {
    position: absolute;
    left: 5%;
    top: 35%;
    font-size: 1.5rem; 
    
    a {
        color: $colour-dark-grey;
        text-decoration: none;
    }
}