.container_header {
    @include dimension-general;
    position: relative;
    padding: $space-regular 0rem $space-small 0rem;
    text-align: center;

    &__home {
        width: 100%;

        img {
            max-width: 45%;
        }
    }

    &__icon {
        position: absolute;
        left: 5%;
        top: 30%;
        font-size: $font-XXlarge;

        &__link {
            color: $colour-dark-grey;
            text-decoration: none;
        }
    }
}