/*Button principal*/
/*-------------------*/

.btn_main {
    border: none;
    border-radius: $border-radius-stronger;
    background-color: $colour-primary;
    background: $colour-gradient;
    color: $colour-white;
    font-size: $font-small;
    padding: $space-regular $space-medium;
    box-shadow: $shadow-btn;
    text-decoration: none;
    cursor: pointer;

    &:active, &:hover {
        background: $colour-gradient--lighter;
        box-shadow: $shadow-btn--hover;    
    }


    &--longer {
        padding: $space-regular $space-XXXlarge;
    }

    
}