/*Button principal*/
/*-------------------*/

.btn_main {
    border: none;
    border-radius: 40px;
    background-color: $colour-primary;
    background: linear-gradient(to bottom right, $colour-secondary 10%, $colour-primary 100%);
    color: $colour-white;
    font-size: $font-small;
    padding: $space-regular $space-medium;
    box-shadow: $shadow-btn;
    text-decoration: none;


    &--longer {
        padding: $space-regular $space-XXXlarge;
    }
}