body {
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight-regular;
    font-size: $font-regular;
}

h1 {
    font-size: $font-Xlarge;
    font-weight: $font-weight-extrabold;
    line-height: $font-XXlarge;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: $font-Xlarge;
    font-weight: $font-weight-extrabold;
    line-height: $font-XXlarge;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: $font-medium;
    font-weight: $font-weight-extrabold;
    line-height: $font-medium;
    padding: 0;
    margin: 0;
}


p {
    line-height: $font-large;
    padding: 0;
    margin: 0;
}