.illu {
    height: 250px;
    overflow: hidden;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}


.main {
    background-color: $colour-extralight-grey;
    border-top-left-radius: $border-radius-big;
    border-top-right-radius: $border-radius-big;
    padding: $space-large $space-medium;
    margin-top: -3rem;
    position: relative;

    @include screen-md {
        padding: $space-Xlarge $space-large;
    }

    @include screen-xl {
        padding: $space-XXlarge $space-Xlarge;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        @include screen-xl {
            justify-content: center;
        }

        &__title {
            font-family: 'Shrikhand';
            font-weight: $font-weight-medium;
            font-size: $font-XXlarge;
        }

        &__icon {
            font-size: $font-XXlarge;
            padding-right: $space-regular;

            @include screen-xl {
                position: absolute;
                right: 0;
                top: 0;
                padding: $space-XXlarge;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        
        @include screen-xl {
            flex-direction: row;
            justify-content: space-between;
            gap: $space-large;
        }

        &__category {
            width: 100%;
            flex-grow: 1;

            &__title {
                font-size: $space-regular;
                font-weight: $font-weight-regular;
                text-transform: uppercase;
                padding: $space-large 0rem $space-regular 0rem;
                
                @include screen-xl {
                    text-align: center;
                }

            }
        
            &__container {
                display: flex;
                flex-direction: column;
                gap: $space-regular;
            }
        }
    }

    &__btn {
        text-align: center;
        padding: $space-XXlarge 0rem $space-regular 0rem;
    }
}
