/*Couleurs*/
/*-------------------*/

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$colour-accent-primary: lighten($colour-primary, 50%);
$colour-accent-tertiary: darken($colour-tertiary, 50%);

$colour-white: #fff;

$colour-dark-grey: #353535;
$colour-middle-grey: #7E7E7E;
$colour-light-grey: #EAEAEA;
$colour-extralight-grey: #F6F6F6;

